<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por País</h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <app-country-search (onEnter)="search( $event )" 
                                (onDebounce)="similar($event)"
                                placeHolder="Por pais..."></app-country-search>
        </div>

        <ul *ngIf="displaySuggestions"
            class="list-group position-relative">
            <li *ngFor="let country of suggestions" 
                class="list-group-item list-group-item-action">
                    <a  class="nav-link"
                        [routerLink]="['/country', country.cca2]">
                        {{country.name.common}}
                    </a>
            </li>
        </ul>
    </div>
    <hr>
</div>

<div class="row">
    <div *ngIf="countries.length > 0" class="col" >
        <app-country-table [displayedCountries]="countries" ></app-country-table>
    </div>
</div>
