<h2>Busqueda</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item"
      routerLink=""
      routerLinkActive="active animate__animated animate__pulse animate__fast"
      [routerLinkActiveOptions]="{exact:true}"
  >Por pais
</li>
  <li class="list-group-item"
      routerLink="region"
      routerLinkActive="active animate__animated animate__pulse animate__fast"
  >Por region
</li>
  <li class="list-group-item"
      routerLink="capital"
      routerLinkActive="active animate__animated animate__pulse animate__fast"
  >Por capital
  </li>
</ul>