/* You can add global styles to this file, and also import other style files */

.country-image {
    width: 50px;
}


.carousel-item {
    height: 15em;
}
  
.carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      min-height: 200px;
      min-width: auto;
}

.onbox {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.onbox:after{
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}